<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>برنامه هفتگی</title>
    <link rel="stylesheet" href="/static/schedules.css">
</head>
<body>
    <div class="container">
        <h1>برنامه هفتگی</h1>
        <table>
            <thead>
                <tr>
                    <th>زمان</th>
                    <th>یکشنبه</th>
                    <th>دوشنبه</th>
                    <th>سه‌شنبه</th>
                    <th>چهارشنبه</th>
                    <th>پنج‌شنبه</th>
                    <th>جمعه</th>
                </tr>
            </thead>
            <tbody id="scheduleTable">
                <tr>
                    <td>8:00-10:00</td>
                    <td id="sunday_8_10"></td>
                    <td id="monday_8_10"></td>
                    <td id="tuesday_8_10"></td>
                    <td id="wednesday_8_10"></td>
                    <td id="thursday_8_10"></td>
                    <td id="friday_8_10"></td>
                </tr>
                <tr>
                    <td>10:00-12:00</td>
                    <td id="sunday_10_12"></td>
                    <td id="monday_10_12"></td>
                    <td id="tuesday_10_12"></td>
                    <td id="wednesday_10_12"></td>
                    <td id="thursday_10_12"></td>
                    <td id="friday_10_12"></td>
                </tr>
                <tr>
                    <td>14:00-16:00</td>
                    <td id="sunday_14_16"></td>
                    <td id="monday_14_16"></td>
                    <td id="tuesday_14_16"></td>
                    <td id="wednesday_14_16"></td>
                    <td id="thursday_14_16"></td>
                    <td id="friday_14_16"></td>
                </tr>
                            <tr>
                    <td>16:00-18:00</td>
                    <td id="sunday_16_18"></td>
                    <td id="monday_16_18"></td>
                    <td id="tuesday_16_18"></td>
                    <td id="wednesday_16_18"></td>
                    <td id="thursday_16_18"></td>
                    <td id="friday_16_18"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/static/schedules.js"></script>
</body>
</html>
